@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />

<RadzenBody Expanded="true">
    <ChildContent>
        <div class="row justify-content-center align-items-center" style="bottom: 0; left: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; position: absolute; right: 0; top: 0; vertical-align: baseline">
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px">
                <RadzenImage Path="assets/images/logo.png" style="display: block;  margin-left: auto; margin-right: auto; margin-top: -72px; width: 300px">
                </RadzenImage>
                <RadzenCard style="margin-top: 0px">
                    <ChildContent>
                        <RadzenContentContainer Name="main">
                            @Body
                        </RadzenContentContainer>
                    </ChildContent>
                </RadzenCard>
            </div>
        </div>
    </ChildContent>
</RadzenBody>